/* RESET - nollställer funktioner */

/* * betyder alla element i hela projektet */
* {
  /* gör att border och padding lägger sig inne i boxens storlek, alltså inte bygger på utåt */
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

/* responsiva bilder */
img {
  max-width: 100%;
}

figure {
  margin: 0;
}

/* Typografi */
body {
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  font-size: 50px;
}

h2 {
  font-size: 40px;
}

h3 {
  font-size: 30px;
}

h4 {
  font-size: 20px;
}

p {
  line-height: 1.5;
}

/* Huvudsaklig layout */

.site-header {
  background-color: #fff;
  padding: 0 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  position: fixed;
  width: 100%;
}

.site-content {
  padding: 100px 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 80px;
}

/* Header - deljerade inställningar för header */
.site-header__branding {
  text-decoration: none;
  color: #111;
  font-size: 24px;
}

/* Meny */
.menu__list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 32px;
}

/* lägger ett lite streck under den sida vi är på för tillfället i menyn*/
.menu__item--current {
  border-bottom: 2px solid #111;
}

/* länken som ligger i menu__item--current */
.menu__item--current a {
  font-weight: 700;
}

.menu__link {
  color: #111;
  text-decoration: none;
}

/* HERO */
.hero {
  height: 100vh;
}

.hero__image {
  height: 100%;
  width: 100%;

  /* för att inte bilden ska bli förvanskad i proportionerna */
  object-fit: cover;
  display: block;
}

/* artiklar / poster / blogginlägg */
.post {
  max-width: 1000px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.post__header,
.post__excerpt,
.post__footer,
.post__content {
  max-width: 800px;
  width: 100%;
}

.post__header {
  margin-bottom: 32px;
}

.post__footer {
  margin-top: 16px;
  display: flex;
  justify-content: space-between;
}

.post__title {
  margin: 0 0 16px 0;
}

.post__published,
.post__author {
  color: #888;
}

.post__read-more,
.post__back {
  color: #2ca2d4;
  font-weight: 700;
}

.single .post__title {
  margin-top: 40px;
}

/* FEATURED */
.featured {
  display: flex;
  gap: 40px;
  max-width: 1000px;
  margin: 0 auto 100px;
}

.article {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  box-shadow: 5px 5px 40px -10px rgba(0 0 0 / 20%);
  flex: 1;
}

.article__image {
  order: -1;
  aspect-ratio: 3/2;
}

.article__image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.article__header {
  padding: 0 20px;
}

.article__title {
  font-size: 24px;
  margin: 20px 0 10px;
}

.article__excerpt {
  padding: 0 20px;
  color: #888;
  padding: 10px 20px;
}

.article__footer {
  padding: 0 20px 20px;
  margin-top: auto;
}

.article__read-more {
  color: #2ca2d4;
  font-weight: 700;
}

/* CATEGORIES */
.categories {
  padding: 0 20px;
}

.categories__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  gap: 16px;
}

.categories__link {
  background-color: #2ca2d4;
  color: #fff;
  padding: 5px 10px;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 12px;
}

.categories__link--ai {
  background-color: purple;
}

.categories__link--future {
  background-color: coral;
}

/* FOOTER */

.site-footer {
  display: flex;
  justify-content: center;
  background-color: #111;
  color: #888;
  padding: 30px;
}

/* PAGE */

.page {
  max-width: 1000px;
  margin: 0 auto;
}
